.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-family: 'Lora',serif;
    color:rgb(45, 37, 37)
}
.headerTitlesm{
    position: absolute;
    /* top: 18%; */
    font-size: 20px;
}

.headerTitlelg{
    position: absolute;
    top:18%;
    font-size: 100px;
    z-index:999;

}

.headerImg{
width: 100%;
height: 555px;
margin-top: 82px;
object-fit:fill;
opacity:0.8;
}